<html>
  <head>
    <title>Projection by Bhavik</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../header/header.component.css" />
    <!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class="subpage">
		<header id="header">
      <div class="inner">
        <a routerLink="home-page" class="logo"><strong>Made with </strong><i class="fa fa-heart pulse"></i> Angular</a>
        <nav id="nav">
          <a routerLink="/home-page">Home Page</a>
          <a routerLink="/about-us">About-US</a>
          <a routerLink="/contact-us">Contact-US</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-list"></span></a>
      </div>
  </header>
    <script src="../assets/main.js"></script>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/skel.min.js"></script>
    <script src="../assets/util.js"></script>
</body>
</html>