<html>
  <head>
    <title>Projection by Bhavik</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Welcome to My Project</h1>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br /> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <footer>
          <a href="#" class="button">Get the App</a>
        </footer>
      </div>
    </section>


  <!-- About US -->
    <section id="about-us" class="wrapper align-center">
      <div class="inner">
        <div class="flex flex-2">
          <article>
							<header>
								<h3>Lorem ipsum<br /> dolor amet nullam</h3>
							</header>
							<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
          </article> 
          <article>
          
            <header>
              <h3>About the app</h3>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <footer>
              <a href="#" class="button">Download Now</a>
            </footer>
          </article>
        </div>
      </div>
    </section>

    <section id="feature" class="wrapper align-center">
      <div class="inner">
        <header class="heading">
          <h1>Features</h1>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </header>

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="row">
              <div class="col-md-5">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
                 <h4>Made By Love</h4>  
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
   
              <div class="col-sm-5">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-display" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z"/>
                    <path fill-rule="evenodd" d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                  </svg>
                 <h4>Modern Design</h4>  
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              </div>
   
              <br>
   
              <div class="row">
              <div class="col-md-5">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                    <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                 <h4>Fully Responsive</h4>  
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
   
              <div class="col-md-5">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tablet" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                 <h4>Cross Browser Support</h4>  
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              </div>
            </div>

        <div class="col-md-6 col-sm-12">
          <article>
          
            <header>
              <h3>About the app</h3>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <footer>
              <a href="#" class="button">Download Now</a>
            </footer>
          </article>
           </div>
      </div>
    </div>
      </div>
    </section>

  <!--Pricing-->

  <section id="pricing" class="wrapper align-center">
    <div class="inner">
    
      <header class="heading">
        <h1>Pricing</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </header>

    <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="col-md-3">
               <h4>STARTER</h4>  
               <h2><b>$0</b></h2>
               <P><b>1 GB of space<br> Safe reliable backup<br> Access from anywhere<br> Simple Life Sharing</b></P>
               <a href="" class="button">GET STARTED</a>
            </div>

            <div class="col-md-4">
               <h4>PREMIUM</h4>  
               <h2><b>$40</b></h2>
               <P><b>2 GB of space<br> Safe, reliable backup<br> Remote wipe<br> Simple Life Sharing</b></P>
               <a href="" class="button">GET STARTED</a>
            </div>
           
            <div class="col-md-3">
               <h4>UNLIMITED</h4>  
               <h2><b>$80</b></h2>
               <P><b>Unlimited space<br> Safe, reliable backup<br> Access from anywhere<br> Priority Support</b></P>
               <a href="" class="button">GET STARTED</a>
            </div>
         </div>
      </div>
     </div>
  </div>
  </section>

    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/skel.min.js"></script>
    <script src="../assets/util.js"></script>
    <script src="../assets/main.js"></script>

</body>
</html>
